
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

body {
	background-color: #1a1a1a;
	
	font: 12px;
    font-family: 'Poppins', sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}
a {text-decoration: none;
	outline:none;}

.container {
	overflow: hidden;
	background-color: #000;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}




header {
	height: 60px;
	position: relative;
	background-color: #1a1a1a;
    align-items: center;
	border: 1px solid rgb(255, 255, 255);
}
header h1 a {
	color: #fff;
	text-align: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 20px;
}
header h1 a:hover {color: #1a1a1a;}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	cursor:pointer;
	display: none;
}
.burger li {
	width: 30px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	margin: 5px 0;
}
.burger.open li {background-color: #d9dde1;}

nav {
	position: absolute;
	top: 0;
	right: 5px;
}
nav li {
	float: left;
	display: inline-block;
}
nav li a {
	font-size: 16px;
	color: #fff;
	padding: 22px 38px;
	font-weight:600;
	display: block;
}
nav li a:hover {color: #7cd217;}

.container-logo{
    
    width: 13%;
	
    
}
.logo{
    width: 100%;
	margin-left: 24%;se
    position: relative;
	
}

/*  Removable CSS  */

.header-section,
.body-section,
.footer-section 
{padding: 0;}

.header-section {background-color: #1a1a1a;}
.body-section {background-color: #1a1a1a;border: 1px solid rgb(255, 255, 255);border-top-style: none;}
.footer-section {background-color: #1a1a1a;}
.placefiller {
	text-align: center;
	font-size: 2em;
	color:#fbf59c;
	border: 1px dashed #fbf59c;
}
.header-section .placefiller {line-height: 300px;color: #FFFFFF;
    font-size: 3em;}
.body-section .placefiller {line-height: 900px;top: 250%;}
.footer-section .placefiller {
	line-height: 200px;
	border: 1px dashed rgba(190, 196, 202, 0.9);
}

.img-principal{
	width: 60%;
	left: 40%;
	position: relative;
	top: 20%;
}
.linha{
	margin: 0;
	
}
.container-slogan1{
	
	margin: auto;
	position: absolute;
	top: 25%;
	left: 4%;
	width: 25%;
	height: 70%;
	
	
	}

	.slogan{
		width: 145%;
	}
	

	.slogan2{
		color: white;
		font-size: 108%;
		line-height: 132%;
		position: relative;
	}



		.botão-comprar{
			width: 65%;
			position: relative;
			top: 5%;
		}


		.botão-trailer{
			width: 65%;
			position: relative;
			top: 5%;
		}


		.flex-container {
			padding: 0;
			margin: 0;
			list-style: none;
			
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			
			-webkit-flex-flow: row wrap;
			justify-content: space-around;
		  }
		  
		  .flex-item {
			
			padding: 5px;
			width: 200px;
			height: 150px;
			margin-top: 10px;
			
			line-height: 180px;
			color: white;
			font-weight: bold;
			font-size: 3em;
			text-align: center;
		  }

		  .logo-playstation{
			width: 45%;
			position: relative;
		  }

		  .logos-empresas{
			position: relative;
			width: 100%;
			
		
		  }

		.section2{
			background-color: #1a1a1a;
			width: 100%;
			height: 1300%;
			color: #ffffff;
			position: absolute;
			border: 1px solid rgb(255, 255, 255);
			text-align: center;
			
		}

	
	.logo2-container{
		
		width: 85%;
		top: 1.8%;
		position: relative;
		left: 7.4%;
		display: flex;
	  justify-content: center;
	  align-items: center;
		
		
	}
		
	

		.slogan3{
			font-size: 5rem;
			top: 2.5%;
			font-family: 'Bebas Neue', cursive;
			position: relative;
			color: #7cd217;
		}
		#slogan4{
			font-size: 3rem;
			top: 4.5%;
			font-family: 'Bebas Neue', cursive;
			position: relative;
			color: #7cd217;
		}
		#slogan5{
			font-size: 5rem;
			top: 4.5%;
			font-family: 'Bebas Neue', cursive;
			position: relative;
			color: #7cd217;
		}
		#slogan6{
			font-size: 5rem;
			top: 7%;
			font-family: 'Bebas Neue', cursive;
			position: relative;
			color: #7cd217;
		}
		#slogan7{
			font-size: 5rem;
			top:9.5%;
			font-family: 'Bebas Neue', cursive;
			position: relative;
			color: #7cd217;
		}

	.armas-nome{
	
		top: 25%;
		position: relative;
		width: 30%;
		height: 53%;
		display: block;
	}

	.logo2{
		width: 50%;
		
	}
	
	.container-slogan3{
		
		width: 75%;
		left: 12.6%;
		line-height: 130%;
		top: 1.4%;
		position: relative;
		font-size: 1rem;
		
		
	}
	.container-slogan4{
		
		width: 75%;
		left: 12.6%;
		line-height: 130%;
		top: 2%;
		position: relative;
		font-size: 1rem;
	}
	
	.imgs{
		padding: .5vw;
		font-size: 0;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap; 
		flex-flow: row wrap; 
		display: -webkit-box;
		display: flex;
		position: relative;
		top: 2%;
	}
	
	.imgs div { 
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
		width: 450px; 
		margin: .5vw; 
	  }

	  .imgs div img { 
		width: 100%; 
		height: auto; 
	  }

	  #imgs-personagens{
		font-size: 0;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap; 
		flex-flow: row wrap; 
		display: -webkit-box;
		display: flex;
		position: relative;
		top: 3.2%;
	}
	
	#imgs-personagens div { 
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
		width: 150px; 
		
	  }

	  #imgs-personagens div img { 
		width: 100%; 
		height: auto; 
	  }

	  #imgs-conteudo{
		font-size: 0;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap; 
		flex-flow: row wrap; 
		display: -webkit-box;
		display: flex;
		position: relative;
		top: 7.3%;
	}
	
	#imgs-conteudo div { 
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
		width: 450px; 
		
	  }

	  #imgs-conteudo div img { 
		width: 100%; 
		height: auto; 
	  }
	  #imgs-conteudo2{
		font-size: 0;
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap; 
		flex-flow: row wrap; 
		display: -webkit-box;
		display: flex;
		position: relative;
		top: 10%;
		box-shadow: 0 0 20px #000000,
		0 0 25px #000000,
		0 0 50px #000000,
		0 0 150px #000000;
	
	}
	
	#imgs-conteudo2 div { 
		-webkit-box-flex: auto;
		-ms-flex: auto;
		flex: auto; 
		width: 150px; 
		
	  }

	  #imgs-conteudo2 div img { 
		width: 100%; 
		height: auto; 
	  }
	  
	  .img-principal2{
		display: none;
	  }

	  #video {
		width: 100.2%;
		height: auto;
		margin: auto;
		top: 5%;
		position: relative;
		box-shadow: 0 0 20px #000000,
		0 0 25px #000000,
		0 0 50px #000000,
		0 0 150px #000000;
	left: -0.2%;
	  }
	  
	  video {
		width: 100%;
		height: auto;
		cursor: pointer;
	  }
	  
	  /*Spinner load*/
	  .poster {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: rotateZ(45deg);
	  }
	  
	  .poster .cube {
		  position: relative;
		  transform: rotateZ(45deg);
	  }
	  
	  .poster .cube {
		  float: left;
		  width: 50%;
		  height: 50%;
		  position: relative;
		  transform: scale(1.1);
	  }
	  
	  .poster .cube:before {
		  content: "";
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  background-color:#7cd217;
		  animation: cube 1.08s infinite linear both;
		  transform-origin: 100% 100%;
	  }
	  
	  .poster .c2 {
		  transform: scale(1.1) rotateZ(90deg);
	  }
	  
	  .poster .c3 {
		  transform: scale(1.1) rotateZ(180deg);
	  }
	  
	  .poster .c4 {
		  transform: scale(1.1) rotateZ(270deg);
	  }
	  
	  .poster .c2:before {
		  animation-delay: 0.135s;
	  }
	  
	  .poster .c3:before {
		  animation-delay: 0.27s;
	  }
	  
	  .poster .c4:before {
		  animation-delay: 0.405s;
	  }
	  
	  @keyframes cube {
		  0%, 10% {
			  transform: perspective(70px) rotateX(-180deg);
			  opacity: 0;
		  }
		
		  25%, 75% {
			  transform: perspective(70px) rotateX(0deg);
			  opacity: 1;
		  }
		
		90%, 100% {
		  transform: perspective(70px) rotateY(180deg);
		  opacity: 0;
		}
	  }
	  
	  @keyframes bg-pan-top {
		0% {
		  background-position: 0% 50%;
		}
		50% {
		  background-position: 50% 100%;
		}
		100% {
		  background-position: 0% 50%;
		}
	  }
	  



@media only screen and (max-width: 751px) {
	.img-none{display: none;}

}


@media only screen and (max-width: 780px) {

header {
	height: 60px;
	z-index: 2;
	background-color: #1a1a1a;
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
header h1 a {
	color: #ffffff;
	text-align: center;
	padding-left: 70px;
	display: block;
}
.burger {display: block;}


/*  Nav Drawer Layout  */
nav {position: relative;}

nav ul {
	height: 100%;
	overflow-y: auto;
	
}
nav li {
	display: block;
	float: none;
}
nav li a {
	padding: 15px 15px;
	letter-spacing: 3px;
	font-size: 14px;
}
nav li a.logo {
	display: none;
}
nav li a.active {
	color: #fff;
	background-color: #000000;
}
nav li a:hover {
	color: #fff;
	background-color: #7cd217;
}
nav li:first-child a.active,
nav li:first-child a:hover 
{border-radius: 10px 0 0 0;}

.header-section {margin-top: 60px;}


/* NAVIGATION ANNIMATION */
nav {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #000000;
	border-radius: 8px;
	
	/* starting point */
	opacity: .3;
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-moz-transform: translate3d(5%,0,0)scale(.97);
	transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
nav.open {
	opacity: 1;

	-webkit-transform: translate3d(0,0,0)scale(1);
	-webkit-animation: slideIn .35s ease-in-out;
	
	-moz-transform: translate3d(0,0,0)scale(1);
	-moz-animation: slideIn .35s ease-in-out;
	
	transform: translate3d(0,0,0)scale(1);
	animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
	0%       {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
	0%      {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
	0%      {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
nav.close {
	opacity: .3;
	
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-webkit-animation: slideOut .3s ease-in-out;
	
	-moz-transform: translate3d(5%,0,0)scale(.97);
	-moz-animation: slideOut .3s ease-in-out;
	
	transform: translate3d(5%,0,0)scale(.97);
	animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
	0%      {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
	0%      {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
	0%      {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
}

.poster{
	display: none;
}
#spinner{
	display: none;
}
/* CONTENT ANNIMATION */
.content {
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 1;
}

/*Content Sliding Open Effect*/
header.open,
.content.open 
{   
	-webkit-transform: translate3d(240px,0,0);
	-webkit-animation: open .5s ease-in-out;
	
	-moz-transform: translate3d(240px,0,0);
	-moz-animation: open .5s ease-in-out;
	
	transform: translate3d(240px,0,0);
	animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
header.close,
.content.close 
{
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: close .3s ease-in-out;
	
	-moz-transform: translate3d(0,0,0);
	-moz-animation: close .3s ease-in-out;
	
	transform: translate3d(0,0,0);
	animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}
.logo{
	display: none;
}
.container-slogan1{
	top: 12%;
}

.botão-comprar{
	width: 65%;
	top: 10%;

	
}

.botão-trailer{
	width: 65%;
	top: 10%;
}
.img-principal{
	display: none;
	
}
.img-principal2{
	width: 100%;
	display: flex;
	position: relative;
	
}
.slogan{
	left: 200%;
	position: relative;
	width: 170%;
	top: 10%;
}
.botão-comprar{
	width: 140%;
	top: 23%;
	left: 215%;
	
}

.botão-trailer{
	width: 140%;
	top: 23%;
	left: 215%;
}

}















@media only screen and (max-width: 425px) {



.container-slogan3{
	font-size: 0.6rem;
	}
	.slogan3{
		font-size: 2rem;
		top: 2.2%;
		
		
	}
	.container-slogan4{
		font-size: 0.6rem;
		
		
		}
		
		#slogan4{
			font-size: 2rem;
			top: 6.5%;
			position: relative;		
}	

#slogan5{
	font-size: 2rem;
	top: 4.5%;
	position: relative;
}
#slogan6{
	font-size: 2rem;
	top: 7%;
	position: relative;
}
#slogan7{
	font-size: 2rem;
	top: 9.5%;
	position: relative;
}
}

@media only screen and (max-width: 375px) {

	#slogan4{
		font-size: 1.8rem;
		top: 7%;
		position: relative;		
}	

#slogan5{
	font-size: 1.8rem;
	top: 4.5%;
	position: relative;		
}	

}

@media only screen and (max-width: 320px) {

	#slogan4{
		font-size: 1.8rem;
		top: 9%;
		position: relative;		
}	

#slogan5{
	font-size: 1.8rem;
	top: 4.5%;
	position: relative;		
}	
#slogan6{
	font-size: 1.8rem;
	top: 7%;
	position: relative;		
}	
#slogan7{
	font-size: 1.8rem;
	top: 9.5%;
	position: relative;		
}	
}

